.app {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
}

.article, .headline, .content {
  width: 100%;
}

.headline-meta {
  display: flex;
  justify-content: space-between;
  color: grey;
}

.headline {
  margin-bottom: 2em;
}

.content .block {
  margin-bottom: 1em;
}

.emphasized {
  font-style: italic;
}

.important {
  font-weight: bold;
}
